<div class="item">
  <div class="wrapper">
    <div class="padding"></div>
    <div class="photo">
      <img src="../../../assets/icons/fav1.png">
    </div>
    <div class="information">
      <div class="first line">
        Alexey Bitka
      </div>
      <div class="second line">
        Ranking Place: 12.001
      </div>
    </div>
    <div class="other">
      <div class="first line">
        Another Bitkas friend
      </div>
      <div class="second line">
        5K Sections to the center
      </div>
    </div>
    <div class="padding"></div>
  </div>
</div>

<div class="item button">
  <div class="wrapper">
    <span>All Favorites</span>
  </div>
</div>
