a:active {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 6%;
  background-color: #38434e;
  z-index: 4;
  font-family: "Lato", sans-serif !important;
}

.header .buttons {
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  width: 15%;
  height: 70%;
}
.header .buttons #logo {
  height: 75%;
  padding-right: 10%;
}
.header .buttons #logo img {
  height: 100%;
}

.header #menu {
  display: flex;
  height: 100%;
  width: 25%;
}
.header #menu .item {
  display: flex;
  background: #404c58;
  align-items: center;
  height: 100%;
  text-align: center;
  border-right: 2px solid #38434e;
  cursor: pointer;
}
.header #menu .item.selected {
  background: #323d47;
}
.header #menu .item:hover {
  background: #323d47;
}
.header #menu .item .wrap{
  height: 50%;
  width: 100%;
}
.header #menu .item .wrap img{
  height: 100%;
}
.header #my-property {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 6%;
  background: rgb(237, 113, 83);
  cursor: pointer;
}
.header #my-property .icon {
  width: 100%;
  height: 70%;
  text-align: center;
  padding-top: 10%;
}
.header #my-property .icon img {
  height: 80%;
}
.header #my-property .text {
  width: 100%;
  height: 30%;
  color: white;
  text-transform: uppercase;
  font-size: 8px;
  text-align: center;
}

.header #account {
  display: flex;
  height: 100%;
  width: 44%;
  color: white;
  font-size: 11px;
}
.header #account .empty {
  display: flex;
  width: 50%;
}
.header #account .item {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  cursor: pointer;
}
.header #account .item .wrap{
  height: 40%;
  width: 100%;
}
.header #account .item.user .wrap{
  height: 60%;
  width: 100%;
}
.header #account .item.user-name i{
  margin-left: 5px;
}
.header #account .item .wrap img{
  height: 100%;
  opacity: .6;
}
.header #account .item:hover .wrap > img{
  opacity: 9;
}

.header .empty1, .header .empty2 {
  width: 5%;
  height: 70%;
}

.header .search {
  display: flex;
  align-items: center;
  width: 20%;
  height: 70%
}

.header .search input {
  width: 90%;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(87,97,106);
  color: rgb(204,207,210);
  font-size: 9px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}
.header .search input::-webkit-input-placeholder {
  color:rgb(106, 116, 125)
}
.header .search input::-moz-placeholder {
  color:rgb(106, 116, 125)
}
.header .search input:-moz-placeholder  {
  color:rgb(106, 116, 125)
}
.header .search input:-ms-input-placeholder  {
  color:rgb(106, 116, 125)
}
.header .search input:focus {
  outline: none;

}
.header .empty3 {
  width: 20%;
  height: 70%
}
.header .icons1 {
  display: flex;
  width: 20%;
  height: 70%
}
.header .icons1 .icon {
  height: 100%;
  margin-right: 5px;
  border: 1px solid rgb(106, 116, 125);
  border-radius: 5px;
  cursor: pointer;
}


