<div class="header container-fluid disable-text-select" >

    <div class="empty1" id="header1">
    </div>
    <div class="buttons" id="header2">
        <a href="/" id="logo" style="display: inline"><img src="../assets/icons/adwoo.png"></a>
        <a href="/"><span>AdWoo</span></a>
    </div>
    <div id="menu" >
        <div class="item selected">
            <div class="wrap">
                <img src="../assets/icons/earth.png">
            </div>
        </div>
    </div>
    <div id="purpose" (click)="showInviteModal()">
        <div class="wrapper">
            <div class="line">
                <div class="icon"></div>
                <div class="information">
                    First 1.000.000 Citizens
                </div>
                <div class="count">
                    12.050/2%
                </div>
                <div class="progress">
                    <div class="count" [style.width]="'2%'">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="account">
        <div class="item">
            <div class="wrap">
                <img src="../assets/icons/home-symbol.png" (click)="showFavoriteModal()">
            </div>
        </div>
        <div class="item">
            <div class="wrap">
                <img src="../assets/icons/ring.png" (click)="showNotificationsModal()">
            </div>
        </div>
        <div class="item user">
            <div class="wrap">
                <img src="../assets/icons/user.png">
            </div>
        </div>
        <div class="item user-name">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
    </div>
</div>

<invite-people-component *ngIf="inviteModalState"></invite-people-component>
<favorites-people-component *ngIf="favoriteModalState"></favorites-people-component>
<notifications-component *ngIf="notificationsModalState"></notifications-component>