#screen {
  position: relative;
  width: 100%;
  height: 100%;
}

#inner {
  position: absolute;
  width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../../assets/registration/background_registration.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;

}

button {
  color: white;
  border-radius: 12px !important;
  height: 25px;
  line-height: 24px;
  border: none;
  background: linear-gradient(to left, #fc7858, #fd4e75);
}
button:hover {
  opacity: .8;
}
a {
  color: rgb(130, 130, 130);
  font-size: 15px;
}
a span {
  padding-left: 5px;
  font-weight: bold;
}
button#login {
  position: absolute;
  left: 100%;
  top: 24px;
  width: 95px;
  margin-left: -120px;
  font-weight: bold;
}
#form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
  width: 250px;
  height: 250px;
  max-height: 500px;
  text-align: center;
}
#form img {
  height: 23px;
  vertical-align: bottom;
}
.grayBold {
  color: rgb(86, 80, 92);
  font-weight: bold;
  font-size: 15px;
}
.gray {
  color: rgb(86, 80, 92);
  font-size: 10px;
}
.input {
  width: 230px;
  height: 30px;
  border-radius: 4px;
}
.input[type="text"] {
  border: 1px solid rgba(0, 0, 0, .2);
  padding-left: 15px;
}
#facebook {
  background: rgba(50, 90, 162, 1);
  line-height: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#facebook:hover {
  background: rgba(50, 90, 162, .8);
}
#agreement {
  display: inline-block;
  float: left;
  width: 190px;
  padding-top: 8px;
  text-align: left;
  font-size: 11px;
}
input[type=checkbox] {
  display: none;
}
label {
  float: left;
}
