<div id="screen">
  <div id="inner1">
    <div class="color" [class.visible]="checkAgreements"></div>
    <button id="login">Login</button>
    <div id="form">
      <a href="/" id="logo" style="display: inline"><img src="../assets/icons/adwoo.png"></a>
      <a href="/"><span>AdWoo</span></a>
      <p class="grayBold" style="margin-top: 20px">Create a new Account</p>
      <p style="margin-top: -10px; margin-bottom: 20px">It's free</p>
      <input type="text" class="input" placeholder="Email or Phone">
      <input type="text" class="input" placeholder="Password" style="margin-top: 15px">
      <p style="margin-top: 10px; margin-bottom: 10px">or</p>
      <div class="input" id="facebook" style="margin-left: 10px">
        Sign in with Facebook
      </div>
      <p style="margin-top: 10px; font-size: 12px; color: rgb(130, 130, 130); font-weight: bold">show all</p>
      <input type="checkbox" id="rules" [(ngModel)]="checkAgreements">
      <label for="rules" style="display: inline-block; width: 50px"></label>
      <div id="agreement">
        By clicking Create Account, you agree to our Terms and that you have read our Data Policy, including our Cookie Use.
      </div>
      <button class="input">Create Account</button>
    </div>
  </div>
</div>
