form {
  text-align: left;
}

form b {
  display: block;
  margin-top: 14px;
  margin-bottom: 4px;
  font-size: 14px;
}

span {
  font-size: 12px;
}

.item {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 10px;
  width: 49%;
  height: 50px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 4px;
  padding-top: 13px;
  padding-left: 15px;
  text-align: left;
}

.item.full {
  width: 100%;
}

.devider {
  display: inline-block;
  float: left;
  width: 2%;
  height: 50px;
}

.item span {
  font-size: 14px;
  font-weight: 500;
  padding-left: 25px;
}

.item input[type='text'] {
  height: 25px;
  width: 80px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #d9d8d8;
  border-radius: 5%;
}

.item label {
  position: absolute;
  margin-left: 15px;
  margin-top: 8px;
  padding: 0;
  content: '';
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 11px;
  left: 0px;
  border: 1px solid #d9d8d8;
  background: white;
}

.item label.active {
  border: 4px solid #f44d73;
}

input[type="text"], input[type="password"] {
  height: 30px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 3px;
}

button {
  width: 45%;
  margin-top: 8px;
  color: white;
  border-radius: 10px;
  height: 25px;
  line-height: 24px;
  border: none;
  background: linear-gradient(to left, #fc7858, #fd4e75);
  font-size: 12px;
  font-weight: bold;
}

button:hover {
  opacity: .8;
}

button.cancel {
  border: 1px solid rgb(234, 234, 234);
  background: white;
  color: #d9d8d8;
  margin-right: 9%;
}
.feedback {
  font-size: 14px;
  height: 20px;
}
.feedback i {
  margin-right: 5px;
}

.invalid {
  color: #f72332;
}

.valid {
  color: #00b742;
}
