.rightNav, .leftNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topNav, .bottomNav {
  height: 20% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftNav img:hover, .rightNav img:hover, .topNav img:hover, .bottomNav img:hover {
  opacity: .7 !important;
}

.screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 88%;
}
.section1, .section2, .section2-horizontal, .section2-vertical, .section5, .road-vertical, .road-horizontal, .road-horizontal-long, .road-vertical-long, .road-vertical-very-long, .road-cross {
  position: absolute;
}
.section1, .section2-horizontal {
  width:800px;
  height:600px;
}
.section2 {
  width: 1500px;
  height: 1000px;
}
.section2-vertical {
  width: 850px;
  height: 1275px;
}
.section5 {
  width: 1769px;
  height: 1031px;
}
.road-vertical {
  width:270px;
  height:175px;
}
.road-horizontal {
  width:270px;
  height:175px;
}
.road-horizontal-long {
  width:545px;
  height:321px;
}
.road-vertical-long {
  width:543px;
  height:326px;
}
.road-vertical-very-long {
  width: 1424px;
  height: 864px;
}
.road-cross {
  width:117px;
  height:69px;
}
.figure1 {
  width: 240px;
  height: 210px;
  transform: rotate(30deg) skew(-30deg);
  position: absolute;
  z-index: 4;
}
.figure12 {
  width: 555px;
  height: 210px;
  transform: rotate(30deg) skew(-30deg);
  position: absolute;
  z-index: 4;
}
.figure22 {
  width: 555px;
  height: 477px;
  transform: rotate(30deg) skew(-30deg);
  position: absolute;
  z-index: 4;
}
.figure52 {
  width: 1470px;
  height: 477px;
  transform: rotate(30deg) skew(-30deg);
  position: absolute;
  z-index: 4;
}
.move-area {
  position: absolute;
  width: 100%;
  height: 100%;
}
.screen img {
  position: absolute;
}
.motion {
  position: absolute;
  transition: all 2s;
  transform: translate(-50px, -300px);
}
.screen .wrap {
  position: absolute;
  transition: all 2s;
  transform: translate(0, -30px) scale(.5);
  -ms-transform: translate(0, -30px) scale(.5);
  -moz-transform: translate(0, -30px) scale(.5);
  -webkit-transform: translate(0, -30px) scale(.5);
}
.map {
  position: absolute;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
}
.screen .map .line {
  border-bottom: 100px solid #4e4036;
  line-height: 0px;
}
.screen .map .cell {
  position: relative;
  display: inline-block;
  border-right: 100px solid #4e4036;
  width: 350px;
  height: 215px;
}
.screen .map .cell .left{
  position: absolute;
  width: 100px;
  height: 315px;
  left: -100px;
}
.screen .map .cell .right{
  position: absolute;
  width: 100px;
  height: 315px;
  right: -100px;
}

.screen .map .cell .top{
  position: absolute;
  width: 351px;
  height: 100px;
  top: -100px;
}
.screen .map .cell .bottom{
  position: absolute;
  width: 351px;
  height: 100px;
  bottom: -100px;
}

.topNav, .leftNav, .rightNav, .bottomNav {
  position: absolute;
}
.topNav, .bottomNav {
  width: 100%;
  height: 10%;
}
.leftNav, .rightNav {
  height: 100%;
  width: 9%;
}
.bottomNav {
  top: 80%;
}.rightNav {
   left: 91%;
 }
