.rightNav, .leftNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topNav, .bottomNav {
  height: 20% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftNav img:hover, .rightNav img:hover, .topNav img:hover, .bottomNav img:hover {
  opacity: .7 !important;
}

.screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 88%;
}
.figure1 {
  width: 240px;
  height: 210px;
  background: green;
  transform: rotate(30deg) skew(-30deg);
  position: absolute;
  z-index: 3;
}
.move-area {
  position: absolute;
  background: green;
  width: 1000px;
  height: 1000px;
  width: 100%;
  height: 100%;
  transform: rotate(30deg) skew(-30deg);
  z-index: 2;
}
.screen img {
  position: absolute;
}
.motion {
  position: absolute;
  transition: all 2s;
  transform: translate(-50px, -300px);
}
.screen .wrap {
  position: absolute;
  transition: all 2s;
  transform: translate(0, -30px) scale(.5);
  -ms-transform: translate(0, -30px) scale(.5);
  -moz-transform: translate(0, -30px) scale(.5);
  -webkit-transform: translate(0, -30px) scale(.5);
}
.map {
  position: absolute;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
}
.screen .map .line {
  border-bottom: 100px solid #4e4036;
  line-height: 0px;
}
.screen .map .cell {
  position: relative;
  display: inline-block;
  border-right: 100px solid #4e4036;
  width: 350px;
  height: 215px;
}
.screen .map .cell .left{
  position: absolute;
  width: 100px;
  height: 315px;
  left: -100px;
}
.screen .map .cell .right{
  position: absolute;
  width: 100px;
  height: 315px;
  right: -100px;
}

.screen .map .cell .top{
  position: absolute;
  width: 351px;
  height: 100px;
  top: -100px;
}
.screen .map .cell .bottom{
  position: absolute;
  width: 351px;
  height: 100px;
  bottom: -100px;
}

.topNav, .leftNav, .rightNav, .bottomNav {
  position: absolute;
}
.topNav, .bottomNav {
  width: 100%;
  height: 10%;
}
.leftNav, .rightNav {
  height: 100%;
  width: 9%;
}
.bottomNav {
  top: 80%;
}.rightNav {
  left: 91%;
}
