.screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 88%;
}
.map {
  position: absolute;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
}
.screen .map .line {
  border-bottom: 35px solid #4e4036;
  line-height: 0px;
}
.screen .map .cell {
  position: relative;
  display: inline-block;
  border-right: 35px solid #4e4036;
  width: 282px;
  height: 215px;
}
.topNav, .leftNav, .rightNav, .bottomNav {
  position: absolute;
}
.topNav, .bottomNav {
  width: 100%;
  height: 10%;
}
.leftNav, .rightNav {
  height: 100%;
  width: 9%;
}
.bottomNav {
  top: 90%;
}.rightNav {
  left: 91%;
}
