.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.screen .search {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #ec7150;
  z-index: 9000;
  border-radius: 25px;
  top: 10%;
  left: 94%;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  opacity: .9;
}
.screen .search img {
  height: 40%;
  top: 30%;
  left: 30%;
}
.screen .search:hover {
  opacity: 1;
}
.screen #get-position {
  position: absolute;
  display: block;
  width: 30px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: blue;
  z-index: 3000;
}
invite-people-component {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  background: white;
  display: block;
  z-index: 1000;
  border-radius: 4px;
  color: rgb(86, 80, 92);
}
favorites-people-component {
  position: absolute;
  top: 60px;
  right: 130px;
  margin-left: -250px;
  width: 450px;
  background: white;
  display: block;
  z-index: 1000;
  border-radius: 4px;
  color: rgb(86, 80, 92);
}
