<div class="topNav">
  <img (click)="navTop()" src="../assets/navigation/array.png" style="z-index: 1; transform: rotate(-90deg); opacity: 0.5" [style.width]="screen.screenWidth/30 + 'px'">
</div>
<div class="leftNav">
  <img (click)="navLeft()" src="../assets/navigation/array.png" style="z-index: 1; transform: rotate(180deg); opacity: 0.5" [style.width]="screen.screenWidth/30 + 'px'">
</div>
<div class="rightNav">
  <img (click)="navRight()" src="../assets/navigation/array.png" style="z-index: 1; opacity: 0.5" [style.width]="screen.screenWidth/30 + 'px'">
</div>
<div class="bottomNav">
  <img (click)="navBottom()" src="../assets/navigation/array.png" style="z-index: 1; transform: rotate(90deg); opacity: 0.5" [style.width]="screen.screenWidth/30 + 'px'">
</div>
<div class="move-area"></div>
