<div class="item main">
  <div class="wrapper">
    <h4>Invite People</h4>
    <span>and build your Empire</span>
  </div>
</div>
<div class="item">
  <div class="wrapper">
    <div class="padding"></div>
    <div class="photo">
      <img src="../../../assets/icons/fav4.png">
    </div>
    <div class="information">
      <div class="first line">
        Anton Medyakov
      </div>
      <div class="second line">
        Belarus, Vitebsk
      </div>
    </div>
    <div class="social">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <button>Invite</button>
    </div>
    <div class="padding"></div>
  </div>
</div>
<div class="item">
  <div class="wrapper">
    <div class="padding"></div>
    <div class="photo">
      <img src="../../../assets/icons/fav5.png">
    </div>
    <div class="information">
      <div class="first line">
        Alexander Koshevskiy
      </div>
      <div class="second line">
        Belarus, Vitebsk
      </div>
    </div>
    <div class="social">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
      <button>Invite</button>
    </div>
    <div class="padding"></div>
  </div>
</div>

<div class="item button">
  <div class="wrapper">
    <span>Invite All Friends</span>
  </div>
</div>
