<div class="wrapper">
  <div class="avatar">
    <img src="../../../assets/City_Objects/Block_5.png" alt="">
  </div>
</div>
<div class="information">
  <h4>Your Adress:</h4>
  <p>Baker St. Black Haven</p>
  <p class="addition">5K Sections to the center</p>
  <button>Go ahead!</button>
</div>
<hr>
<div class="stats">
  <div class="line">
    <span>Ranking Place</span>
  </div>
  <div class="line">
    <span>Cashpoints</span>
  </div>
</div>
<div class="item button">
  <div class="wrapper">
    <button>Settings</button>
    <button>Logout</button>
  </div>
</div>