<!--The content below is only a placeholder and can be replaced.-->
<div class="header container-fluid" >
  <div class="empty1">
  </div>
  <div class="buttons">
    <input type="button" value="AdWoo" (click)="showConfirm()">
    <input type="button" value="World" style="margin-left: 3px">
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>
  <div class="empty2">
  </div>
  <div class="search">
    <input type="text" placeholder="SEARCH BY USERNAME, COMPANY, GCID...">
  </div>
  <div class="empty3">
  </div>
  <div class="icons1">
    <div *ngFor="let item of [1, 2, 3, 4, 5]" class="icon" [style.width] = "headerIconHeight">
    </div>

  </div>
  <div class="empty4">
  </div>
  <div class="icons2">

  </div>
</div>
<filters></filters>
<div class="screen container-fluid" id="screen" >
  <div class="topNav">
    <img (click)="navTop()" src="../assets/navigation/array.png" style="z-index: 10000; transform: rotate(-90deg); opacity: 0.5" [style.width]="screenWidth/30 + 'px'">
  </div>
  <div class="leftNav">
    <img (click)="navLeft()" src="../assets/navigation/array.png" style="z-index: 10000; transform: rotate(180deg); opacity: 0.5" [style.width]="screenWidth/30 + 'px'">
  </div>
  <div class="rightNav">
    <img (click)="navRight()" src="../assets/navigation/array.png" style="z-index: 10000; opacity: 0.5" [style.width]="screenWidth/30 + 'px'">
  </div>
  <div class="bottomNav">
    <img (click)="navBottom()" src="../assets/navigation/array.png" style="z-index: 10000; transform: rotate(90deg); opacity: 0.5" [style.width]="screenWidth/30 + 'px'">
  </div>
  <div class="wrap" [ngStyle]="{'transform': 'translate(' + navigationX + 'px,' + navigationY + 'px' + ') scale(0.5)'}">
    <div *ngFor="let line of map; let lineIndex = index">
      <img *ngFor="let cell of line; let cellIndex = index" [src]="cell" [style.left] = "(lineIndex*267)+(cellIndex*271)+'px'" [style.top] = "(lineIndex*156)+(cellIndex*(-158))+'px'" [style.z-index] = "lineIndex-cellIndex">
    </div>
    <div *ngFor="let line of map; let lineIndex = index">
      <img *ngFor="let img of line; let roadIndex = index" src="../assets/City_Objects/Block_Road_01.png" [style.left] = "139 + (270*roadIndex) + ((roadIndex>1) ? roadIndex : 0) + lineIndex*268 + 'px'" [style.top] = "411 - (158*roadIndex) + lineIndex*156 + 'px'" [style.z-index] = "-1 - roadIndex">
    </div>
    <div *ngFor="let line of map; let lineIndex = index">
      <img *ngFor="let cell of line; let roadIndex = index" src="../assets/City_Objects/Block_Road_02.png" [style.left] = "410 + (271.5*roadIndex) + lineIndex*267 + 'px'" [style.top] = "415 - (158*roadIndex) + lineIndex*156 + 'px'" [style.z-index] = "0 - roadIndex">
    </div>
    <img src="../assets/City_Objects/Block_Road_03.png" style="left: 619px;top: 389px;z-index: 0">
    <img src="../assets/City_Objects/Block_07-1.png" style="left:0px; top:0px">
  </div>
</div>
<div class="footer container-fluid" >
</div>
