<!--The content below is only a placeholder and can be replaced.-->
<div class="header container-fluid" >
  <div class="empty1">
  </div>
  <div class="buttons">
    <input type="button" value="AdWoo">
    <input type="button" value="World" style="margin-left: 3px">
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>
  <div class="empty2">
  </div>
  <div class="search">
    <input type="text">
  </div>
  <div class="empty3">
  </div>
  <div class="icons1">

  </div>
  <div class="empty4">
  </div>
  <div class="icons2">

  </div>
</div>
<div class="screen container-fluid" id="screen">
  <div class="map" id="map" [style.transform]="'rotate(' + rotateMap + 'deg)'" [style.height]="mapHeight" [style.width]="mapWidth">
    <div *ngFor="let line of map" class="line" [style.width]="cellWidth*sizemap + 'px'" [style.height]="cellHeight + 1 + 'px'">
      <div *ngFor="let cell of line" class="cell" [style.width]="cellWidth + 'px'" [style.height]="cellHeight + 'px'">
      </div>
    </div>
  </div>
</div>
<div class="footer container-fluid" >
</div>
