<!--The content below is only a placeholder and can be replaced.-->
<div class="header container-fluid" >
  <div class="empty1">
  </div>
  <div class="buttons">
    <input type="button" value="AdWoo" (click)="showConfirm()">
    <input type="button" value="World" style="margin-left: 3px">
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>
  <div class="empty2">
  </div>
  <div class="search">
    <input type="text" placeholder="SEARCH BY USERNAME, COMPANY, GCID...">
  </div>
  <div class="empty3">
  </div>
  <div class="icons1">
    <div *ngFor="let item of [1, 2, 3, 4, 5]" class="icon" [style.width] = "headerIconHeight">
    </div>

  </div>
  <div class="empty4">
  </div>
  <div class="icons2">

  </div>
</div>
<filters></filters>
<div class="screen container-fluid" id="screen" >
  <div class="topNav">
    <img (click)="navTop()" src="../assets/navigation/array.png" style="z-index: 1; transform: rotate(-90deg); opacity: 0.5" [style.width]="screenWidth/30 + 'px'">
  </div>
  <div class="leftNav">
    <img (click)="navLeft()" src="../assets/navigation/array.png" style="z-index: 1; transform: rotate(180deg); opacity: 0.5" [style.width]="screenWidth/30 + 'px'">
  </div>
  <div class="rightNav">
    <img (click)="navRight()" src="../assets/navigation/array.png" style="z-index: 1; opacity: 0.5" [style.width]="screenWidth/30 + 'px'">
  </div>
  <div class="bottomNav">
    <img (click)="navBottom()" src="../assets/navigation/array.png" style="z-index: 1; transform: rotate(90deg); opacity: 0.5" [style.width]="screenWidth/30 + 'px'">
  </div>
  <div class="wrap" [ngStyle]="{'transform': 'translate(' + navigationX + 'px,' + navigationY + 'px' + ') scale(1)'}">
    <ng-container *ngFor="let line of jsonSections; let lineIndex = index">
      <ng-container *ngFor="let cell of line; let cellIndex = index">
        <img *ngIf="cell.draw && cell.width == 1" [src]="'../assets/City_Objects/Block_0' + cell.name +'.png'" [style.left] = "(lineIndex*266)+(cellIndex*267)  +'px'" [style.top] = "(lineIndex*152)+(cellIndex*(-154))  +'px'" [style.z-index] = "lineIndex-cellIndex">
        <img *ngIf="cell.draw && cell.width == 2" [src]="'../assets/City_Objects/Block_' + cell.name +'.png'" [style.left] = "141+(lineIndex*266)+(cellIndex*266) +'px'" [style.top] = "-51+(lineIndex*152)+(cellIndex*(-154)) +'px'" [style.z-index] = "lineIndex-cellIndex">
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let line of jsonSections; let lineIndex = index">
      <ng-container *ngFor="let cell of line; let roadIndex = index">
        <img *ngIf="cell.draw" src="../assets/City_Objects/Block_Road_01.png" [style.left] = "145 + lineIndex*266 + (267*roadIndex) + 'px'" [style.top] = "407 + lineIndex*152 - (154*roadIndex) + 'px'" [style.z-index] = "-1 - roadIndex">
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let line of jsonSections; let lineIndex = index">
      <ng-container *ngFor="let cell of line; let roadIndex = index">
        <img  *ngIf="cell.draw && cell.width == 1" src="../assets/City_Objects/Block_Road_02.png" [style.left] = "412 + lineIndex*266 + (266*roadIndex) + 'px'" [style.top] = "413 + lineIndex*152 - (154*roadIndex) + 'px'" [style.z-index] = "0 - roadIndex">
        <img  *ngIf="cell.draw && cell.width == 2" src="../assets/City_Objects/Block_Road_Long_02.png" [style.left] = "410 + lineIndex*267 + (267*roadIndex) + 'px'" [style.top] = "250 - (154*roadIndex) + lineIndex*154 + 'px'" [style.z-index] = "0 - roadIndex">
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let line of jsonSections; let lineIndex = index">
      <ng-container *ngFor="let cell of line; let roadIndex = index">
        <img *ngIf="cell.draw" src="../assets/City_Objects/Block_Road_03.png" [style.left] = "352 + lineIndex*266 + (267*roadIndex) + 'px'" [style.top] = "539 + lineIndex*152 - (154*roadIndex) + 'px'" [style.z-index] = "-1 - roadIndex">
      </ng-container>
    </ng-container>
  </div>
</div>
<div class="footer container-fluid" >
</div>
