.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.screen .search {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #ec7150;
  z-index: 9000;
  border-radius: 25px;
  top: 10%;
  left: 90%;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}
