.modal-content {
  border-radius: 0;
}
.modal-dialog {
  top: 25px;
}
.modal-dialog .modal-body {
  padding: 0 !important;
}
.modal-dialog .modal-body .left, .modal-dialog .modal-body .right {
  display: inline-block;
  float: left;
}
.modal-dialog .modal-body {
  height: 100%;
  width: 100%;
}
.modal-dialog .modal-body .left {
  width: 30%;
  height: 85%;
}
.modal-dialog .modal-body .left .item {
  display: block;
  width: 100%;
  border-right: 1px solid #e4e4e4;
}
.modal-dialog .modal-body .left .item.img {
  height: 50%;
  padding: 15px;
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4;
}
.modal-dialog .modal-body .left .item.actions {
  height: 14%;
  border-bottom: 1px solid #e4e4e4;
}
.modal-dialog .modal-body .left .item.actions .item {
  display: inline-block;
  float: left;
  border-right: 1px solid #e4e4e4;
  width: 33%;
  text-align: center;
  height: 100%;
  padding: 2px;
  padding-top: 10px;
  font-size: 12px;
}
.modal-dialog .modal-body .left .item.actions .item i {
  opacity: .6;
}
.modal-dialog .modal-body .left .item.actions .item:last-child {
  border-right: none;
}
.modal-dialog .modal-body .left .item.actions .item span {
  font-size: 9px;
}
.modal-dialog .modal-body .left .item.favorites, .modal-dialog .modal-body .left .item.discover {
  height: 18%;
  padding: 10px 15px;
  font-size: 9px;
  border-bottom: 1px solid #e4e4e4;
}
.modal-dialog .modal-body .left .item.img img {
  width: 100%;
  max-height: 115%;
}
.modal-dialog .modal-body .right {
  width: 70%;
  height: 85%;
}
.modal-dialog .modal-body .right>.item {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}
.modal-dialog .modal-body .right .cursor {
  position: absolute;
  display: block;
  width: 52px;
  height: 2px;
  top: 98%;
  background: rgb(236, 113, 80);
}
.modal-dialog .modal-body .right .item.information {
  display: flex;
  align-items: center;
  height: 20%;
}
.modal-dialog .modal-body .right .item.information span {
  display: inline-block;
  width: 90%;
}
.modal-dialog .modal-body .right .item.information i {
  display: inline-block;
  width: 10%;
  opacity: .3;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.modal-dialog .modal-body .right .item.information i:hover {
  opacity: .5;
}
.modal-dialog .modal-body .right .item.menu {
  position: relative;
  height: 10%;
  padding-left: 15px;
}
.modal-dialog .modal-body .right .item.information .logo {
  position: relative;
  width: 20%;
  height: 100%;
  text-align: center;
}
.modal-dialog .modal-body .right .item.information .logo img {
  position: absolute;
  height: 70%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.modal-dialog .modal-body .right .item.information .text {
  position: relative;
  width: 70%;
  height: 100%;
  font-size: 12px;
}
.modal-dialog .modal-body .right .item.information .text>.inner {
  position: absolute;
  height: 45%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.modal-dialog .modal-body .right .item.menu>.inner {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
}
.modal-dialog .modal-body .right .item.menu .item {
  display:inline;
  font-size: 10px;
  padding-right: 5px;
  cursor: pointer;
}
.modal-dialog .modal-body .right .item.content {
  height: 70%;
  font-size: 9px;
  padding: 10px 15px;
}
