<div class="header container-fluid" >
  <div class="row">
    <div class="col-md-2">
      <div class="item" id="adwoo">
        <a href="/" id="logo" style="display: inline"><img src="../assets/icons/adwoo.png"></a>
        <a href="/"><span>AdWoo</span></a>
      </div>
      <div class="item">
        <div id="avatar">
          <img _ngcontent-c3="" src="../../assets/icons/rec1.png">
        </div>
        <div id="name">
          <p>
            <b>Olivia Brown</b>
          </p>
          <p>Ranking: 12.250</p>
        </div>
      </div>
      <div class="item" id="balance">
        <b>Your current balance</b>
        <p>
          <span>20</span>
        </p>
        <p>cashpoints</p>
        <button>Buy cashpoints</button>
      </div>
      <div class="item"></div>
    </div>
    <div class="col-md-10">
      <div id="statistic">
        <div class="col-md-10">
          <div class="col-md-2">
            <b>Daily visitors</b>
            <p>150</p>
          </div>
          <div class="col-md-2">
            <b>Daily Sailes</b>
            <p>2/12 <span>points</span></p>
          </div>
          <div class="col-md-2">
            <b>Daily Activities</b>
            <p>34 <span>minutes</span></p>
          </div>
          <div class="col-md-2">
            <b>Daily points</b>
            <p>1.290</p>
          </div>
          <div class="col-md-2">
            <b>Ranking</b>
            <p>12.241</p>
          </div>
          <div class="col-md-2">
            <b>Daily requests</b>
            <p>22</p>
          </div>
        </div>
        <div class="col-md-2">
          <span>+ Manage widgets</span>
        </div>
       </div>
      <div id="content">
        <div class="col-md-6" id="points">
          <div id="inner">
            <b>Buy points</b>
            <br>
            <span>and be in the spotlight</span>
            <br>
            <div class="item">
              <input type="checkbox">
              <span>20.000 Points</span>
            </div>
            <div class="item">
              <input type="checkbox">
              <span>10.000 Points</span>
            </div>
            <div class="item">
              <input type="checkbox">
              <span>5.000 Points</span>
            </div>
            <div class="item">
              <input type="checkbox">
              <span>2.500 Points</span>
            </div>
            <div class="item">
              <input type="checkbox">
              <span>1.000 Points</span>
            </div>
            <div class="item">
              <input type="checkbox">
              <span>500 Points</span>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="information">
          <div id="carousel1">
          </div>
          <div id="carousel2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
