<div class="wrapper container-fluid" >
  <div class="row">
    <div class="col-md-2">
      <div class="item" id="adwoo">
        <a href="/" id="logo" style="display: inline"><img src="../assets/icons/adwoo.png"></a>
        <a href="/"><span>AdWoo</span></a>
        <span id="back" routerLink="/">back</span>
      </div>
      <div class="item">
        <div id="avatar">
          <img src="../../assets/icons/rec1.png">
        </div>
        <div id="name">
          <p>
            <b>Olivia Brown</b>
          </p>
          <p>Ranking: 12.250</p>
        </div>
      </div>
      <div class="item" id="balance">
        <b>Your current balance</b>
        <p>
          <span>20</span>
        </p>
        <p>cashpoints</p>
        <button>Buy cashpoints</button>
      </div>
      <div class="item" style="font-size: 13px">
        <input id="accountChecked" type="checkbox" [(ngModel)]="ifAccountChecked">
        <label for="accountChecked" (click)="navigate('accountChange')">
          <img src="../../../assets/icons/pack/light/sliders-v.svg" alt="">
          <span>Account settings</span>
        </label>
      </div>
      <div class="item sections">
        <h4>Properties:</h4>
        <div class="line active" (click)="navigate('propertySelect')">
          <div class="picture">
            <img src="../../../assets/City_Objects/Block_5.png" alt="">
          </div>
          <div class="description">
            <p>Baker St. Black Haven</p>
            <span>asd asd asd</span>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div id="statistic">
        <div class="col-md-10">
          <div class="col-md-2">
            <b>Daily visitors</b>
            <p>150</p>
          </div>
          <div class="col-md-2">
            <b>Daily Sailes</b>
            <p>2/12 <span>points</span></p>
          </div>
          <div class="col-md-2">
            <b>Daily Activities</b>
            <p>34 <span>minutes</span></p>
          </div>
          <div class="col-md-2">
            <b>Daily points</b>
            <p>1.290</p>
          </div>
          <div class="col-md-2">
            <b>Ranking</b>
            <p>12.241</p>
          </div>
          <div class="col-md-2">
            <b>Daily requests</b>
            <p>22</p>
          </div>
        </div>
        <div class="col-md-2">
          <span>+ Manage widgets</span>
        </div>
       </div>

      <div class="content" *ngIf="state === 'cashpoints'">
        <div class="col-md-6" id="points">
          <div id="inner">
            <button>take a look</button>
            <b>Buy points</b>
            <br>
            <span>and be in the spotlight</span>
            <br>
            <div class="item">
              <input id="20000" name="points" value="20000" type="radio" [(ngModel)]="points">
              <label for="20000" [class.active]="points === '20000'"></label>
              <span>20.000 Points</span>
            </div>
            <div class="devider">
            </div>
            <div class="item">
              <input id="10000"  name="points" value="10000" type="radio" [(ngModel)]="points" [class.active]="points === '10000'">
              <label for="10000" [class.active]="points === '10000'"></label>
              <span>10.000 Points</span>
            </div>
            <div class="item">
              <input id="5000" name="points" value="5000" type="radio" [(ngModel)]="points" [class.active]="points === '5000'">
              <label for="5000" [class.active]="points === '5000'"></label>
              <span>5.000 Points</span>
            </div>
            <div class="devider">
            </div>
            <div class="item">
              <input id="2500" name="points" value="2500" type="radio" [(ngModel)]="points" [class.active]="points === '2500'">
              <label for="2500" [class.active]="points === '2500'"></label>
              <span>2.500 Points</span>
            </div>
            <div class="item">
              <input id="1000" name="points" value="1000" type="radio" [(ngModel)]="points" [class.active]="points === '1000'">
              <label for="1000" [class.active]="points === '1000'"></label>
              <span>1.000 Points</span>
            </div>
            <div class="devider">
            </div>
            <div class="item">
              <input id="500" name="points" value="500" type="radio" [(ngModel)]="points" [class.active]="points === '500'">
              <label for="500" [class.active]="points === '500'"></label>
              <span>500 Points</span>
            </div>
            <div class="item full">
              <input id="manually" name="points" value="manually" type="radio" [(ngModel)]="points" [class.active]="points === 'manually'">
              <label for="manually" [class.active]="points === 'manually'"></label>
              <span>Decide yourself</span>
              <input type="text">
              <span style="padding-left: 10px">Points</span>
            </div>
            <div id="hr"></div>
          </div>
        </div>
        <div class="col-md-6" id="information">
          <div id="carousel1" class="carousel">
            <div class="text">
              <b>Live life full</b>
              <br>
              <span>Buy exclusive things for your appartment and stand out among the rest.</span>
              <br>
              <button>take a look</button>
            </div>
            <div id="main">
              <img src="../assets/galery/galery1.jpg">
            </div>
            <div class="dots">
              <div class="dot active"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
          <div id="carousel2" class="carousel">
            <div class="text">
              <b>Earn points with eCommerce</b>
              <br>
              <span>Best marketing is a recommendation. Just rerecommend the goods that you yourself use the city residents.</span>
              <br>
              <button>take a look</button>
            </div>
            <div id="switcher">
              <ul id="items">
                <li class="devider"></li>
                <li class="item"></li>
                <li class="devider"></li>
                <li class="item"></li>
                <li class="devider"></li>
                <li class="item"></li>
                <li class="devider"></li>
              </ul>
              <div class="dots">
                <div class="dot active"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content" *ngIf="state === 'account'">
        <div class="col-md-3" id="left">
          <div id="inner">
            <personal-data-form></personal-data-form>
          </div>
        </div>
        <div class="col-md-6" id="center">
          <div id="inner" style="padding: 0; background: none">
            <div class="col-md-6 social">
              <div class="inner">

              </div>
            </div>
            <div class="col-md-6 social">
              <div class="inner">

              </div>
            </div>
            <div class="col-md-6 social">
              <div class="inner">

              </div>
            </div>
            <div class="col-md-6 social">
              <div class="inner">

              </div>
            </div>
            <div class="col-md-12 settings" style="background: none">
              <div class="inner">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3" id="right">
          <div id="inner">
          </div>
        </div>
      </div>

      <div class="content" *ngIf="state === 'property'">
        <div class="col-md-12" class="property">
          <div class="wrapper">
            <div class="header">
              <div class="left col-md-3">
                <div class="picture">
                  <img src="../../../assets/City_Objects/Block_5.png" alt="">
                </div>
                <div class="description">
                  <p>Baker St. Black Haven</p>
                  <span>asd asd asd</span>
                </div>
              </div>
              <div class="right col-md-9">
                <img src="../../../assets/icons/pack/light/trophy.svg" alt="">
                <span>Ranking Place:</span>
                <span>12.049</span>
                <button>Go ahead!</button>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="card">
              <div class="left">
                <div class="gallery">
                  <span>Gallery (6/7)</span>
                  <div class="item main">
                    <img src="../../../assets/girl.jpg" alt="">
                  </div>

                  <div class="item">
                    <img src="../../../assets/girl.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="../../../assets/girl.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="../../../assets/girl.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="../../../assets/girl.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="../../../assets/girl.jpg" alt="">
                  </div>
                  <div class="item add">
                    <img src="../../../assets/icons/pack/light/plus.svg" alt="">
                    <span>
                      Add photo
                    </span>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="interests">
                  <span>Interests</span>
                  <div class="add-input">
                    <button>
                        <img src="../../../assets/icons/pack/light/plus.svg" alt="">
                    </button>
                    <input type="text" placeholder="Add your interest...">
                    <div class="clearfix"></div>
                  </div>
                  <div class="list">
                    <button>Music</button>
                    <button>Sport</button>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <div class="settings">

                  <div class="setting">
                    <span>Status:</span>
                      <mat-select name="status" [(value)]="property.status" [(ngModel)]="property.status" #property="ngModel">
                          <mat-option value="m">1</mat-option>
                          <mat-option value="w">2</mat-option>
                          <mat-option>3</mat-option>
                      </mat-select>
                  </div>
                  <div class="setting">
                    <span>Current city:</span>
                      <mat-select name="status" [(value)]="property.city" [(ngModel)]="property.city" #property="ngModel">
                          <mat-option value="m">1</mat-option>
                          <mat-option value="w">2</mat-option>
                          <mat-option>3</mat-option>
                      </mat-select>
                  </div>
                  <div class="setting">
                    <span>Language:</span>
                      <mat-select name="status" [(value)]="property.language" [(ngModel)]="property.language" #property="ngModel">
                          <mat-option value="m">1</mat-option>
                          <mat-option value="w">2</mat-option>
                          <mat-option>3</mat-option>
                      </mat-select>
                  </div>
                  <div class="setting">
                    <span>Hometown:</span>
                      <mat-select name="status" [(value)]="property.hometown" [(ngModel)]="property.hometown" #property="ngModel">
                          <mat-option value="m">1</mat-option>
                          <mat-option value="w">2</mat-option>
                          <mat-option>3</mat-option>
                      </mat-select>
                  </div>
                  <div class="setting full">
                    <span>Profession:</span>
                    <mat-form-field>
                      <input matInput [(value)]="property.profession" [(ngModel)]="property.profession" #property="ngModel">
                    </mat-form-field>
                  </div>
                  <div class="setting">
                    <mat-checkbox>Show my birthday</mat-checkbox>
                  </div>
                  <div class="setting">
                    <mat-form-field>
                      <input matInput ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="information">
                  <span>Information:</span>
                  <div class="text">
                    Infromation text
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="footer">
              <button>Save</button>
              <button class="cancel">Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
