mat-select {
  --input-height: 35px;

  height: var(--input-height);
  line-height: var(--input-height);
  width: 100%;
  border: solid 1px #eaeaea;
  border-radius: 3px;
  font-size: 14px;
  text-align: left;
}

mat-select .mat-select-value {
  padding: 0 5px 0 15px;
  color: var(--grey-text-color);
}

mat-select .mat-select-trigger {
  margin-right: 5px;
}
