h4 {
  font-weight: bold;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 30px;
  font-size: 16px;
}
button {
  color: white;
  border-radius: 12px !important;
  height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 24px;
  border: none;
  background: linear-gradient(to left, #fc7858, #fd4e75);
}
button:hover {
  opacity: .8;
}
.fa-facebook {
  color: #3c56a2;
  font-size: 26px;
}
.fa-google-plus {
  color: #eb3b20;
  font-size: 26px;
}
i {
  line-height: 50px;
  margin-left: 10px;
}
.main {
  text-align: center;
}
.item {
  display: flex;
  align-items: center;
  height:65px;
  border-bottom: 1px solid rgb(237, 237, 237);;
}
.item .wrapper {
  display: block;
  height: 70%;
  width: 100%;
}
.item.button {
  background: linear-gradient(to left, #fc7858, #fd4e75);
  text-align: center;
  border-bottom: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.item.button .wrapper {
  height:auto;
}

.item .wrapper .padding {
  display: inline-block;
  float: left;
  width: 5%;
  height: 100%;
}

.item .wrapper .photo {
  display: inline-block;
  float: left;
  width: 15%;
  height: 100%;
}
.item .wrapper .photo img {
  height: 45px;
}

.item .wrapper .information {
  display: inline-block;
  float: left;
  width: 37.5%;
  height: 100%;
}

.item .wrapper .information .line {
  line-height: 24px;
}
.item .wrapper .other .line {
  line-height: 24px;
}

.item .wrapper .information .line.first {
  font-weight: bold;
}

.item .wrapper .other {
  display: inline-block;
  float: left;
  width: 37.5%;
  height: 100%;
  text-align: right;
}
.item .wrapper .other .first {
  line-height: 22px;
  font-weight: bold;
  font-size: 15px;
}
.item .wrapper .other .second {
  line-height: 26px;
}
