.modal-dialog {
  top: 25px;
}
.modal-dialog .modal-header {
  padding: 0 !important;
}
.modal-dialog .modal-body {
  padding: 0 !important;
}

.modal-dialog .modal-body img {
  width: 50%;
}
.modal-dialog .modal-body .left, .modal-dialog .modal-body .objects, .modal-dialog .modal-body .right {
  display: inline-block;
  width: 10%;
  vertical-align: middle;
}
.modal-dialog .modal-body .objects {
  width: 70% !important;
  overflow: hidden;
  text-align: left;
}
.modal-dialog .modal-body .left, .modal-dialog .modal-body .right {
  opacity: .5;
  cursor: pointer;
}
.modal-dialog .modal-body .left:hover, .modal-dialog .modal-body .right:hover {
  opacity: .7;
}
.modal-dialog .modal-body .item {
  display: inline-block;
  width: 48%;
  height:200px;
  background: white;
}
.modal-dialog .modal-body .item .img {
  display: inline-block;
  width: 40%;
  height: 70%;
  float: left;
  text-align: center;
  background: #f0f0f0;
}
.modal-dialog .modal-body .item .img img {
  width: 100%;
  margin-top: 20%;
}
.modal-dialog .modal-body .item .data {
  display: inline-block;
  width: 60%;
  height: 70%;
  background: #f8f8f8;
  float: left;
  border-bottom: 1px solid #e4e4e4;
}
.modal-dialog .modal-body .item .data .header {
  width: 100%;
  height: 35%;
  border-bottom: 1px solid #e4e4e4;
}
.modal-dialog .modal-body .item .data .item {
  display: inline-block;
  height: 32.8%;
  width: 33.3%;
  float: left;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.modal-dialog .modal-body .item .footer {
  display: block;
  width: 100%;
  height: 30%;
  background: #f8f8f8;
}
.modal-dialog .modal-body .item:nth-child(even) {
  float: right;
}
.modal-dialog .modal-content {
  background: #e5e5e5;
  padding: 15px;
  border-radius: 0px;
}
.modal-dialog .modal-content .modal-header .count, .modal-dialog .modal-content .modal-header .new {
  display: inline-block;
  width: 49%;
  height:20px;
  float: left;
  font-size: 10px;
}
.modal-dialog .modal-content .modal-header .new {
  text-align: right;
  text-transform: uppercase;
}
